* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {outline: none;}
a:focus, a:active {outline: none;}

nav, footer, header, aside {display: block;}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {font-family: inherit;}

input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: 400;}

* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}


body {
	overflow: hidden;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

button {
	font-weight: bold;
	letter-spacing: 5px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}

button.btn {
  color: #FFF240;
  text-transform: uppercase;
	text-align: center;
  padding: 1.25em 25px 1.25em 30px;
  background: #5e5373;
  border: 2px solid #5e5373;
  border-radius: 0.75em;
  transition: transform 0.15s;
  transform-style: preserve-3d;
}

button.btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3c354a;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #5e5373;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 0.15s, box-shadow 0.15s;
}

button.btn:hover {
  background: #18b5a4;
  transform: translate(0, 0.25em);
}
button.btn:hover::before {
  box-shadow: 0 0 0 2px #5e5373;
  transform: translate3d(0, 0.5em, -1em);
}
button.btn:active {
  background: #18b5a4;
  transform: translate(0em, 0.75em);
}
button.btn:active::before {
  box-shadow: 0 0 0 2px #18b5a4;
  transform: translate3d(0, 0, -1em);
}
