@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/

.wrapper{
  height: 100%;
  overflow: hidden;
  min-height: 100%;
  padding: 50px;
}

body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.block{

}

.block__row{
  display: flex;
  flex-wrap: wrap-reverce;

  border: 20px solid #ece89d;
  margin: 0px 0px 20px 0px;
}

.block__column {
  border: 20px solid #5e5373;
}

.block__item{
  background-color: #18b5a4;
  padding: 50px;
  font-size: 50px;
  color: #fff;
  font-weight: 700;
}
